/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #687E8C;
}

.navegacion {
    display: flex;
    justify-content: end;
    padding: 15px 15px;
    background-color: #0D0D0D;
    font-size: 1.2rem;
}

li a {
    justify-content: flex-end;
    color: #fff;
    padding: 20px 20px;
    margin: 8px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

/*Main*/
.bienvenida{
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.titP{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.parrafoB{
    width: 25%;
    margin: auto;
    border-bottom: 1px solid #0D0D0D;
}

.redesS{
    background-color: #0D0D0D;
    padding: 50px 50px;
}
.iconosR{
    display: flex;
    justify-content: space-around;
}
/*Footer*/
.footer {
    background-color: #F2778D;
    padding: 20px 20px;
}

.copy {
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}