/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


/*Header*/

header{
    background-color: #000000;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

.logo_header{
    display: flex;
    align-items: center;
}

.ico_header{
    height: 50px;
    margin-right: 10px;
}

.nav_menu a{
    font-weight: 600;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.nav_menu a:hover{
    color: #F16D00;
}

/*Main*/

.contenedor{
    text-align: center;
}

.fondo_sect{
    width: 100%;
}
.centrado{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}
.fondo_section, .present_img {
    width: 100%;
    height: 100%;
}

.welcome__main__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_paragraph{
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}
.welcome__container {
    padding: 4%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    align-items: center;
}

.welcome__img__container {
    display: flex;
    width: 100%;
    height: 80vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: auto;
}

figure {
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.fondo_division{
    background-image: url(../fotos/foto5.webp);
    width: 100%;
    height: 25rem;
    background-position: center bottom;
	background-size: cover;
}

.mas_info{
    text-align: center;
    margin: 40px 40px;
    background-color: #ffffff;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;
    
}




/*Footer*/
footer{
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    padding: 2rem 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-footer{
    height: 80px;
    margin-bottom: 1rem;
}

.redes-sociales, .menu-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.icono-red{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #ffffff;
    background-image: url(../redes/FacebookBlanco.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin:1rem;
}

.icono-red:hover{
    background-color: #121212;
    filter: invert(1);
}

.icono-red:nth-of-type(2){
    background-image: url(../redes/InstagramBlanco.png);
}
.icono-red:nth-of-type(3){
    background-image: url(../redes/TwitterBlanco.png);
}

.copyright{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
